#mydiv {
    height: 230px;
    width: 300px;
    background-color: #e8f7f2;
    margin: auto;
    text-align: center;
}

#div1 {
    background-color: #22be81;
    text-align: center;
    line-height: 50px;
}

.tel {
    margin-top: 15px;
    border: 0.5px solid gainsboro;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    text-align: center;
}

.search {
    margin-top: 20px;
    border: 0.5px solid gainsboro;
    border-radius: 5px;
    height: 28px;
    width: 250px;
    text-align: center;
    background-color: #ff767a;
    color: white;
}

#div2 {
    height: 50px;
    width: 275px;
    background-color: white;
    margin: 10px;
    text-align: left;
    font-size: 10px;
    padding: 7px 0px 0px 5px;
}